.content__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories ul{
    display: flex;
}

.categories ul li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort__label img{
    margin-right: 8px;
}

.sort__label span{
    margin-left: 8px;
    color: #fe5f1e;
    border-bottom: 1px dashed #fe5f1e;
    cursor: pointer;
}

.active {
    background-color: #282828;
    color: #fff;
}