.pizza_block{
    width: 280px;
    text-align: center;
    margin-bottom: 65px;
    margin-left: 35px;
}

.pizza_block__image{
    width: 260px;
}

.pizza_block__title{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.pizza_block__selector{
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    ul{
        display: flex;
        flex: 1;
    }
    ul li{
        padding: 8px;
        flex: 1;
        font-weight: 600;
        font-size: 14px;
        margin: 1%;
        cursor: pointer;
        &.active {
            background: #ffffff;
            -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 4px rgba(0,0,0,0.04);
            border-radius: 5px;
            cursor: auto;
        }
    }
}

.pizza_block__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.pizza_block__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
}

.button--outline {
    background: #fff;
    border-color: #fe5f1e;
}
.button--outline, .button--outline span {
    color: #fff;
}
// .button_add{
//     background-color: #fff;
//     color: black;
// }
.button_add img {
    margin-right: 8px;
}
.button_add .count {
    display: inline-block;
    border-radius: 30px;
    background-color: #fff;
    color: #fe5f1e;
    font-weight: 600;
    width: 22px;
    height: 22px;
    font-style: normal;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    top: -1px;
    left: 3px;
}