.categories{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            background-color: #f9f9f9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: #ddd;
            }
            &.active{
                background-color: black;
                color: #fff
            }
        }
    }
}
@media (max-width:1280px) {
    .sort{
        flex-direction: column;
    }
    .sort__label{
        margin-top: 10px;
    }
    li{
        margin-bottom: 10px;
    }
}