.categories{
    ul{
        display: flex;
        li{
            background-color: #f9f9f9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: #ddd;
            }
            &.active{
                background-color: black;
                color: #fff
            }
        }
    }
}